[Desktop Entry]
Name=fix rotation in desktop session at startup
Exec=xinput set-prop 'pointer:silead_ts' 'Coordinate Transformation Matrix' 0 -1 1 1 0 0 0 0 1
Type=Application
OnlyShowIn=KDE;
